@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
/* MENU  */

.menu{
  height: 50px;
  width: 100%;
  position: absolute;
  background-color: #0D0D0D;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    width: 500px;
}
.menu li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
.menu a{
    font-size: 18px;
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
/* ---------------------- que es --------------------- */
#quees{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conten-h1-image{
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.conten-h1-image h1{
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 3px;
}
.conten-h1-image p{
  width: 800px;
  font-size: 20px;
  text-align: justify;
}
#quees img{
  width: 600px;
  height: 500px;
}
/* ---------------------------------linetime---------------------------- */

.titleTimeLine{
  height: 300px;
  width: 100%;
  margin-left: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.titleTimeLine h1{
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 3px;
}

/* -------------------------------lie black---------------------- */

.lineBlack{
  height: 40px;
  width: 100%;
  background-color: #0D0D0D;
}

/* ----------------------nav saliders----------------- */
.menu-nosotros{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -880px;
  width: 100%;
  z-index: 1;
  background-color: #0D0D0D;
  height: 40px;
}
.menu-nosotros ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.menu-nosotros li{
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  cursor: pointer;
}
.menu-nosotros li a{
  text-decoration: none;
  color: #f2f2f2;
  font-size: 18px;
}
.menu-nosotros li:hover{
  transform: translateY(-20px);
}
.menu-nosotros li:hover{
  background-color: #2c2c2c;  
  transition: 0.2s;
  padding: 10px 8px 34px 8px;
  border-radius: 10px 10px 0 0;
}

/* ---------------contenido sliders--------------- */
.container{
  overflow: hidden;
  width: 100vw;
}
.containerSliders{
  display: flex;
  width: 100%;
  height: 500px;
}
.sliders{
  padding: 0 100px 0 100px;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  border-radius: inherit 10px;
}
.contaInfo{
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f2f2f2;
}
.contaInfo h1{
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 8px;
}
.contaInfo p{
  font-size: 20px;
  text-align: justify;
}
.blur{
  position: absolute;
  filter: blur(8px);
  width: 100%;
  height: 60vh;
  z-index: -1;
}
.sliders img:nth-child(3){
  width: 600px;
  border-radius: 10px;
}
.sliders:nth-child(1){
  background: linear-gradient(to right, hsla(194, 100%, 50%, 0.6), hsla(60, 100%, 55%, 0.6));
}
.sliders:nth-child(2){
  background: linear-gradient(to left, hsla(194, 100%, 50%, 0.6), hsla(60, 100%, 55%, 0.6));
}
.sliders:nth-child(3){
  background: linear-gradient(to right, hsla(194, 100%, 50%, 0.6), hsla(60, 100%, 55%, 0.6));

}
.sliders:nth-child(4){
  background: linear-gradient(to left, hsla(194, 100%, 50%, 0.6), hsla(60, 100%, 55%, 0.6));
}
.sliders:nth-child(5){
  background: linear-gradient(to right, hsla(194, 100%, 50%, 0.6), hsla(60, 100%, 55%, 0.6));
}
.sliders:nth-child(6){
  background: linear-gradient(to left, hsla(194, 100%, 50%, 0.6), hsla(60, 100%, 55%, 0.6));
}
/* ------------------------------*/

/* .monda{
  overflow: hidden;
  width: 50%;
  height: 600px;
  background-color: #0D0D0D;
} */

footer{
  position: absolute;
  width: 100%;
  bottom: -1;
  background-color: #0D0D0D;
  margin-top: 100px;
}
.footer-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 15px 0;
}
.footer-content h3{
  font-family: 'Poppins', sans-serif;
  color: #F2D544;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 0 0 20px 0 ;
}
.footer-content p{
  font-family: 'Poppins', sans-serif;
  color: #F2D544;
  font-weight: 200;
  width: 60%;
  text-align: center;
}
.socials{
  list-style: none;
  display: flex;
}
.socials li{
  padding: 20px;
}
.socials a{
  color: #F2F2F2;
  text-decoration: none;
}
.socials a i{
  font-size: 20px;
}
.socials a i:hover{
  color: #F2D544;
}
.footer-bottom{
  background-color: #000;
  display: flex;
  justify-content: center;
  padding: 30px;
}
.footer-bottom p{
  color: #F2F2F2;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  text-transform: capitalize;
}
.footer-bottom p a{
  text-decoration: none;
  color: #F2CF63;
}
